@import '../variable.module.scss';

.project-info.showDetails{
    opacity: 1 !important;
    scale: 1 !important;
}

.brand-part .project-info {
    opacity: 0;
    scale: 0.7;
    transition: 0.5s all ease;
}

.brand-part .project-info .project-title {
    background: inherit;
    margin-top: -55px;
    backdrop-filter: blur(4px);
    background: #ffffff77;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


.brand-part .brand-info {
    padding: 0 16px;
}


.tab-section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-section .tab-bar {
    margin-bottom: 70px;
}

.brand-part {
    display: flex;
    column-gap: 32px;
    margin-bottom: 32px;
}

.brand-part img {
    width: 100%;
    cursor: pointer;
    margin: 0 0 16px 0 !important;
}

.brand-part h3 {
    font-size: 24px;
    font-weight: 600;
    color: #16085E;
    padding: 10px;
}

.brand-part .tech-logo p {
    font-size: 10px;
    margin-bottom: 0px;
    color: black;
}

.brand-part .tech-logo {
    display: flex !important;
    column-gap: 20px;
}

.brand-part .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand-part .tech-logo img {
    margin-bottom: 0px !important;
}


.title-part {
    margin: 80px 0 32px 0;
}

.trusted-brands-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-part img {
    width: 100% !important;
    height: auto !important;
}

// scoll magic
#animate {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.3;
}
#animate.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate1 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate1.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate2 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate2.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate3 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate3.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate4 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate4.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate5 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate5.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate6 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate6.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate7 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate7.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate8 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate8.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate9 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate9.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate10 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate10.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate11 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate11.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate12 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate12.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate13 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate13.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate14 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate14.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate15 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate15.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate16 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}
#animate16.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

// hover effect title
// .imgBox:hover+.project-info {
//     opacity: 1;
// }

// .imgBox1:hover+.project-info {
//     opacity: 1;
// }

// .imgBox2:hover+.project-info {
//     opacity: 1;
// }

// .imgBox3:hover+.project-info {
//     opacity: 1;
// }

// .imgBox4:hover+.project-info {
//     opacity: 1;
// }

// .imgBox5:hover+.project-info {
//     opacity: 1;
// }

// .imgBox6:hover+.project-info {
//     opacity: 1;
// }

// .imgBox7:hover+.project-info {
//     opacity: 1;
// }

// .imgBox8:hover+.project-info {
//     opacity: 1;
// }

// .imgBox9:hover+.project-info {
//     opacity: 1;
// }

// .imgBox10:hover+.project-info {
//     opacity: 1;
// }

// .imgBox11:hover+.project-info {
//     opacity: 1;
// }

// .imgBox12:hover+.project-info {
//     opacity: 1;
// }

// .imgBox13:hover+.project-info {
//     opacity: 1;
// }

// .imgBox14:hover+.project-info {
//     opacity: 1;
// }

// .imgBox15:hover+.project-info {
//     opacity: 1;
// }
















@media screen and (max-width:1024px) {
    .trusted-brands-section {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (max-width:991px) {
    .brand-part h3 {
        font-size: 20px;
    }

    .brand-part .project-info .project-title {
        margin-top: -44px;
    }

    .brand-part {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 14px;
        margin-bottom: 0px;
    }
    .brand-part .brand-info {
        padding: 0 16px;
        margin-bottom: 50px;
    }

    // .brand-part.reverse{
    //     flex-wrap: wrap-reverse;
    // }
}




@media screen and (max-width:520px) {
    .trusted-brands-section img {
        max-width: 90% !important;
    }

    .trusted-brands-section {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .brand-part .brand-info {
        padding: 0 16px;
        margin-bottom: 35px;
    }
    .brand-part h3 {
        font-size: 18px;
    }
    .brand-part .tech-logo p {
        font-size: 8px;
    }
    .brand-part .tech-logo img{
        width: 20px !important;
        height: 20px !important;
    }
    .brand-part .tech-logo {
       flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 10px;
    }
}