@import '../variable.module.scss';

.home-area {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 650px;
  background-image: url('../../assets/images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-section {
  margin-top: 100px;
}

.banner-image {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.blankImage {
  height: 500px;
  width: 500px;
  border-radius: 500px;
  position: absolute;
  bottom: -20%;
  left: -10%;
  z-index: -1;
  background: rgb(215, 215, 215, 0.17);
}

.banner-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  font-size: 55px;
  font-weight: 700;
  color: $textColor;
  line-height: 70px;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation:
    typing 5s steps(60, end),
    blink-caret .5s step-end infinite;
}

.Change-title {
  color: $primary;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}


.banner-description {
  font-size: 16px;
  max-width: 80%;
  line-height: 28px;
  margin-left: 8px;
  margin-bottom: 20px;
}

.banner-heading {
  color: $textColor ;
  font-size: 30px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation:
    typing 1.5s steps(60, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}




.closeText {
  font-family: "dino";
  font-size: 180px;
  text-align: center;
  margin-top: 10px;
  color: #16085e;
  text-shadow: 0 13.36px 8.896px #2c482e, 0 -2px 1px #aeffb4;
  letter-spacing: -3px;
  position: relative;
}

.digitText {
  font-family: "dino";
  font-size: 180px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 150px;
  color: #0000ff;
  text-shadow: 0 13.36px 8.896px #2c482e, 0 -2px 1px #aeffb4;
  letter-spacing: -3px;
}

.rotate-img {
  position: absolute;
  top: 33%;
  right:257px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform-style: preserve-3d;
  animation: animate-img 7s linear infinite;
  z-index: 100000;
}

@keyframes animate-img {
  0% {
    transform: perspective(1000px) rotateY(0deg);
    background:radial-gradient(50% 50% at 50% 50%, #000 0%, #00F 4%, #0301E8 14.4%, #16085E 76.4%, #16085E 90.4%, #16085E 97.4%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  100% {
    transform: perspective(1000px) rotateY(-370deg);
    background:radial-gradient(50% 50% at 50% 50%, #000 0%, #00F 4%, #0301E8 14.4%, #16085E 76.4%, #16085E 90.4%, #16085E 97.4%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

}





@media screen and (max-width: 1200px) {
  .rotate-img {
    position: absolute;
    top: 33%;
    right: 140px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform-style: preserve-3d;
    animation: animate-img 10s linear infinite;
    z-index: 100000;
  }
}

@media screen and (max-width: 1024px) {
  .home-area {
    height: 550px;
  }
}

@media screen and (max-width: 991px) {
  .home-area {
    height: auto;
  }

  .banner-image {
    width: 80%;
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .banner-image {
    width: 70%;
  }
}

@media screen and (max-width: 520px) {
  .banner-image {
    width: 100%;
  }

  .banner-heading {
    font-size: 25px;
  }

  .home-section {
    margin-top: 130px;
  }

  .banner-description {
    max-width: 100%;
  }

  .blankImage {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    position: absolute;
    bottom: -38%;
    left: -10%;
    z-index: 0;
  }
}

