@import '../variable.module.scss';


.project-title {
    opacity: 0;
    transition: 0.5s all ease;
}



.brand-info {
    padding: 7px 25px;
    transition: 0.5s all ease;
    transform: translateY(0px);
    opacity: 0;
    margin-top: -100px;
    background: inherit;
    background-image: linear-gradient(60deg, rgba(238, 237, 235, .6) 40%, rgba(238, 237, 235, .7) 43%, rgba(238, 237, 235, .6) 46%, rgba(238, 237, 235, .7) 89%, rgba(238, 237, 235, .6));
}

.tab-section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-section .tab-bar {
    margin-bottom: 70px;
}

.brand-part {
    display: flex;
    column-gap: 32px;
    margin-bottom: 32px;
}

.brand-part img {
    width: 100%;
    cursor: pointer;
    margin: 0 0 16px 0 !important;
}

.brand-bgBox {
    background-color: #212529;
    border-radius: 16px;
    width: 100%;
    max-height: 350px;
}


.brand-part h3 {
    font-size: 24px;
    font-weight: 600;
    color: #16085E;
    margin-top: 50px;
}

.tech-logo {
    display: flex !important;
    column-gap: 20px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-logo img {
    margin-bottom: 0px !important;
}

.tech-logo p {
    opacity: 1;
    font-size: 10px;
    margin-bottom: 0px;
}

.title-part {
    margin: 80px 0 32px 0;
}

.loader {
    text-align: center;
    margin: 20px 0;
}

.trusted-brands-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-part img{
    width:100% !important;
    height: auto !important;
}

// scoll magic
#animate1 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.3;

}

#animate1.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate2 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate2.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate3 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate3.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate4 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate4.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate5 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate5.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate6 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate6.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate7 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate7.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate8 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate8.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate9 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate9.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate10 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate10.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate11 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate11.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate12 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate12.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate13 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate13.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate14 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate14.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate15 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate15.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}

#animate16 {
    transition: 0.5s ease-out;
    transform: scale(0.9) !important;
    opacity: 0.5;
}

#animate16.scale-up {
    transform: scale(1) !important;
    transition: 0.5s ease-out;
    opacity: 1;
}






// hover effect
.imgBox:hover+.project-title {
    opacity: 1;
}
.imgBox1:hover+.project-title {
    opacity: 1;
}
.imgBox2:hover+.project-title {
    opacity: 1;
}
.imgBox3:hover+.project-title {
    opacity: 1;
}
.imgBox4:hover+.project-title {
    opacity: 1;
}
.imgBox5:hover+.project-title {
    opacity: 1;
}
.imgBox6:hover+.project-title {
    opacity: 1;
}
.imgBox7:hover+.project-title {
    opacity: 1;
}
.imgBox8:hover+.project-title {
    opacity: 1;
}
.imgBox9:hover+.project-title {
    opacity: 1;
}
.imgBox10:hover+.project-title {
    opacity: 1;
}
.imgBox11:hover+.project-title {
    opacity: 1;
}
.imgBox12:hover+.project-title {
    opacity: 1;
}
.imgBox13:hover+.project-title {
    opacity: 1;
}
.imgBox14:hover+.project-title {
    opacity: 1;
}
.imgBox15:hover+.project-title {
    opacity: 1;
}




.imgBox:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}

.imgBox1:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox2:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox3:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox4:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox5:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox6:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox7:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox8:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox9:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox10:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox11:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox12:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox13:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox14:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
.imgBox15:hover .brand-info {
    transform: translateY(20px);
    opacity: 1;
}
















@media screen and (max-width:1024px) {
    .trusted-brands-section {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (max-width:520px) {
    .brand-part .brand-info h3 {
        font-size: 10px;
    }

    .brand-part p {
        font-size: 7px;
    }

    .brand-part {
        column-gap: 16px;
        margin-bottom: 0px;
    }

    .trusted-brands-section img {
        max-width: 90% !important;
    }

    .trusted-brands-section {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}