@import '../variable.module.scss';

.headerPart{
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
    transform: transition all 1s ease;
}
.navbarNav{
    margin: auto;
}
.navItem:first-child .navLink{
    margin-left: 0;
}
.navItem:last-child .navLink{
    margin-right: 0;
}
.navLink{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    color: $textColor !important;
    &.active{
        color: $primary !important;
    }
    &::after{
        display: block;
        content: '';
        border-bottom: 2px solid $primary;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
    }
    &:hover{
        color: $primary !important;
        &::after{
            transform: scaleX(1);
        }
    }
}
.logoPart{
    width: 220px;
}
.stickyClass{
    position: fixed;
    box-shadow: 0px 2px 25px 0px rgb(110 110 110 / 12%);
    background-color: #fff;
}
@media screen and (min-width:992px) {
    .mobileLogo{
        display: none;
    }
}
@media screen and (max-width:991px) {
    .navbar{
        &.sticky-nav{
            position: fixed;
            top: 0;
            box-shadow: 0px 2px 25px 0px rgb(110 110 110 / 12%);
        }
    }
    .navItem:first-child .navLink{
        margin-left: 15px;
    }
    .navItem:last-child .navLink{
        margin-right: 15px;
    }
    .navItem{
        .navLink{
            margin-bottom: 12px;
            font-size: 28px;
            margin-left: 5px;
            margin-right: 5px;
        }
        &:last-child{
            .navLink{
                margin-bottom: 30px;
            }
        }
    }
    .mobileLogo{
        margin-top: 35px;
        margin-bottom: 30px;
        .logoPart{
            width: 80%;
        }
    }
}

@media screen and (max-width:520px) {
    .headerPart{
        box-shadow: 0px 2px 25px 0px rgb(110 110 110 / 12%);
        background-color: #fff;
    }
    .navItem{
        .navLink{
            font-size: 22px;
        }
    }
    .mobileLogo{
        .logoPart{
            width: 95%;
        }
    }
    
}


.overlay{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.5;
}