@import '../variable.module.scss';
.accordionItem{
    border: 0px;
    border-bottom: 1px solid #ccc !important;
    &:last-child{
       border-bottom: 0 !important;
    }
}
.accordionButton{
    border: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 2rem 1.5rem 1.5rem 0!important;
    font-weight: 500;
    font-size: 22px;
}
.accordionBody{
    padding: 0rem 1.5rem 2rem 0;
    font-size: 16px;
    max-width: 98%;
}