.mainSection {
    margin-top: 100px;
    background-color: #DFFFF3;
}

.bannerSection .sectionContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bannerSection h3 {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    width: 50%;
    color: #16085E;
    margin: 60px auto 60px 130px;

}

.bannerSection h3 span {
    color: #33CA8F;
}

.bannerSection p {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #212529;
    margin-top: -150px;
    z-index: 100;
}



// technology section


.technology-section {
    width: 70%;
    margin: 150px auto auto auto;
}

.technology-section .technology-heading-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.technology-section .technology-row {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.technology-section .technology-row .technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technology .technology-text {
    align-self: center;
    margin-top: 24px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #212529;
}


.vaidCardsSection {
    overflow: hidden;
    padding: 144px 0;

    .vaidcards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        width: 100%;
        height: 100%;

    }

    .cardbody {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 32px;
        border-radius: 16px;
        background: linear-gradient(to bottom, #ffffffcc 0%, #ffffff00 100%);
    }

    .leftTextPart {
        align-items: start;
        display: flex;
    }

    .rightTextPart {
        align-items: end;
        display: flex;
    }

    .Imgcard {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 32px;
        border-radius: 16px;
    }


    h6 {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 500;
        color: #212529;
        line-height: 30px;
    }

    h6 span {
        color: #6E6E73EE;
    }
}

.mainheading {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    color: #16085E;
    margin-bottom: 64px;
}

.mainheading span {
    color: #4BD659;
}

// 
.MovingTechnologySection {
    width: 100%;
    margin-top: 100px;
    padding: 30px 0;
    height: 200px;
}

.movingSection {
    overflow-x: hidden;
    width: 100%;

    .movingContainer {
        display: flex;
        justify-content: flex-start;
        animation: scroll 15s linear infinite;
    }

    .movingContainer2 {
        display: flex;
        justify-content: flex-start;
        animation: scroll1 15s linear infinite;
    }

    .content {
        display: flex;
        gap: 25px;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;

        .movingImg {
            width: 100% !important;
            height: 100% !important;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes scroll1 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}
.slider{
    height: 50px;
    overflow: hidden;
  }

.slidAnim {
    animation: slide 5s linear infinite;
}
@keyframes slide {
    0% { transform: translateY(-300px); }
    5% { transform: translateY(-300px); }
    33% { transform: translateY(-200px); }
    38% { transform: translateY(-200px); }
    66% { transform: translateY(-100px); }
    71% { transform: translateY(-100px); }
    100% { transform: translateY(0px); }
  }


.innovativeSection {
    padding: 80px 0;
    margin-bottom: -80px;

    background-image: url(../../assets/images/work/2024/fbn/fbn-bg.png);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;

    .innovativeCard {
        background-color: #DFFFF3;
        border-radius: 16px;
        padding: 100px 24px 0 24px;
        margin-bottom: 32px;
    }

    .innovativeCard p {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 400;
        color: #6E6E73EE;
        margin-top: 25px;
        width: 94%;
    }

    .innovativeCard p span {
        color: #212529;
        font-weight: 500;
    }
}

@media screen and (max-width:991px) {
    .bannerSection h3 {
        font-size: 32px;
        width: 70%;
        margin: 40px auto 40px 48px;
    }

    .bannerSection p {
        font-size: 20px;
        margin-top: -190px;
    }

    .mainheading {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .innovativeSection .innovativeCard p {
        font-size: 18px;
        margin-top: 0px;
        width: 100%;
    }

    .innovativeSection .innovativeCard {
        padding: 60px 24px 0 24px;
        margin-bottom: 25px;
    }

    .vaidCardsSection {
        padding: 60px 0;
    }

    .vaidCardsSection h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .vaidCardsSection .cardbody {
        padding: 20px;
    }

}

@media screen and (max-width:767px) {
    .bannerSection p {
        font-size: 20px;
        margin-top: -130px;
    }

    .vaidCardsSection .vaidcards {
        flex-wrap: wrap;
    }

    .vaidCardsSection h6 {
        font-size: 20px;
        line-height: 30px;
    }

    .reverseRow {
        flex-direction: column-reverse;
    }

    .movingSection {
        width: 150%;
    }

    .MovingTechnologySection {
        margin-top: 0px;
    }

}

@media screen and (max-width:520px) {
    .bannerSection h3 {
        font-size: 26px;
        width: 100%;
        margin: 30px auto 30px 0px;
    }

    .bannerSection p {
        font-size: 16px;
        margin-top: -50px;
    }

    .vaidCardsSection h6 {
        font-size: 12px;
        line-height: 16px;
    }

    .vaidCardsSection {
        padding: 30px 0;
    }

    .vaidCardsSection .cardbody {
        padding: 14px;
        border-radius: 6px;
    }

    .movingSection {
        width: 270%;
    }

    .mainheading {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .innovativeSection .innovativeCard p {
        font-size: 16px;
    }

    .innovativeSection .innovativeCard {
        padding: 20px 20px 0 20px;
        margin-bottom: 25px;
        border-radius: 6px;
    }

    .innovativeSection {
        padding: 50px 0;
    }
}