.hontrel-page {
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 40px;
  }
}

.mainHeadingSpan {
  color: #D29999;
}


.banner-section {
  // overflow: hidden;

  br {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .bannerContainer {
    height: 5000px;
    padding: 64px 0;

    @media (max-width: 640px) {
      height: fit-content;
      padding: 20px 0 40px 0;
    }

    .tabletContainer {
      position: relative;
      max-width: 912px;
      width: 90%;
      height: 698px;
      border-radius: 20px;
      background-image: url('/work/2024/hontrel/tablet-mockup.png');
      overflow: hidden;
      perspective: 1000px;
      margin: 0 auto;
      border-radius: 48px;

      @media (max-width: 1440px) {
        height: 580px;
      }

      @media (max-width: 768px) {
        height: 460px;
        max-width: 780px;
      }

      @media (max-width: 640px) {
        height: 360px;
      }

      @media (max-width: 520px) {
        height: 280px;
      }

      @media (max-width: 420px) {
        height: 200px;
        border-radius: 20px;
        background-position: center;
      }

      .tabletScreen {
        position: absolute;
        top: 28px;
        left: 28px;
        right: 28px;
        bottom: 28px;
        overflow: hidden;
        border-radius: 30px;

        @media (max-width: 640px) {
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
        }

        @media (max-width: 420px) {
          top: 14px;
          left: 14px;
          right: 14px;
          bottom: 14px;
          border-radius: 10px;
        }

        .websiteImage {
          position: relative;
          width: 100%;
          transition: transform 0.1s ease-out;
          z-index: 20;
        }
      }
    }
  }






}

.showcaseSection {
  margin-top: 160px;
  overflow: hidden;

  @media (max-width: 991px) {
    margin-top: 80px;
  }

  @media (max-width: 520px) {
    margin-top: 40px;
  }

  h3 {

    br {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}


.codecraft-section {
  .codecraft-content {
    margin-top: 64px;

    @media (max-width: 1025px) {
      display: none;
    }

    .text-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 90px 0;
      height: 100%;

      .codecraft-text {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: #212529;
      }
    }

    .image-part {
      height: 200vh;

      .sticky-laptop {
        position: sticky;
        top: 30%;

        @media (max-width: 1280px) {
          top: 24%;
        }
      }

      .laptop-screens {
        position: relative;

        .code-craft-image {
          opacity: 0;
          transition: opacity 0.5s ease;
          position: absolute;
          top: -340px;
          left: 53px;

          &:nth-child(1) {
            opacity: 1;
          }
        }
      }
    }
  }
}


.codecraft-mobile-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  display: none;

  @media (max-width: 1024px) {
    display: flex;
  }

  @media (max-width: 520px) {
    gap: 24px;
  }

  p {
    font-size: 16px;

    @media (max-width: 520px) {
      font-size: 12px;
    }
  }

  .codecraft-mobile-img img {
    width: 100%;
    height: auto;
  }

  .code-craft-section {
    display: flex;
    flex-direction: row;
    align-items: center !important;

    @media (max-width: 620px) {
      flex-direction: column;

      &:nth-child(2) {
        flex-direction: column-reverse;
      }
    }

    .codecraft-img-part {
      width: 50%;

      @media (max-width: 620px) {
        width: 100%;
      }
    }

    .codecraft-text-part {
      width: 50%;
      padding-left: 20px;

      @media screen and (max-width: 620px) {
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
      }
    }
  }
}


.feature-section {
  padding: 80px 0;
  background-color: #F5F5F7;
  margin-top: 80px;

  @media screen and (max-width: 768px) {
    padding: 60px 0;
    margin-top: 60px
  }

  @media screen and (max-width: 520px) {
    padding: 40px 0;
    margin-top: 40px
  }

  h2 span {
    font-weight: 100;
    font-size: 50px;
    color: #2e3a59;
    display: inline-block;
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -ms-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {

    0%,
    100% {
      color: transparent;
    }

    50% {
      color: #2e3a59;
    }
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .feature-card {
      display: flex;
      gap: 60px;
      background-color: #FFFFFF;
      box-shadow: 0px 12px 24px -4px #919EAB1F;
      padding: 80px 80px 0px 80px;
      border-radius: 16px;

      &:nth-child(1) {
        @media screen and (max-width: 640px) {
          flex-direction: column-reverse;
        }
      }

      @media screen and (max-width: 991px) {
        padding: 40px 40px 0px 40px;
        gap: 30px
      }

      @media screen and (max-width: 768px) {
        align-items: end;
      }

      @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        gap: 10px;
        padding: 24px 24px 0px 24px;
      }

      img {
        @media screen and (max-width: 1200px) {
          width: 50%;
        }

        @media screen and (max-width: 768px) {
          height: fit-content;
        }

        @media screen and (max-width: 520px) {
          width: 100%;
        }
      }

      p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        color: #6E6E73EE;

        @media screen and (max-width: 991px) {
          font-size: 18px;
        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }

        @media screen and (max-width: 520px) {
          font-size: 14px;
        }
      }
    }
  }
}