.bannerHeadText {
    margin-top: 200px;
    overflow-x: hidden;
}

.bannerHeadText h3 span {
    color: #257CA8;
}
.bannerSecondText{
    overflow-x: hidden;
}
.mobileBannerImg {
    display: none;
    overflow: hidden;
}


.bannerSection {
    height: 4000px;
    display: flex;
    margin-bottom: 100px;

}

.bannerImg {
    position: sticky;
    top: 100px;
    transition: 0.5s;
    overflow: hidden;
    background-image: url(/work/2024/propersky/laptopImg.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.image1,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8 {
    position: absolute !important;
    top: 16px !important;
    transition: opacity 0.8s;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 86%;
    background-repeat: no-repeat;
}

.image1 {
    background-image: url(/work/2024/propersky/img1.png);
    z-index: 10;
}

.image2 {
    background-image: url(/work/2024/propersky/img2.png);
    opacity: 0;
    z-index: 11;
}

.image3 {
    background-image: url(/work/2024/propersky/img3.png);
    opacity: 0;
    z-index: 12;
}

.image4 {
    background-image: url(/work/2024/propersky/img4.png);
    opacity: 0;
    z-index: 13;
}

.image5 {
    background-image: url(/work/2024/propersky/img5.png);
    opacity: 0;
    z-index: 14;
}

.image6 {
    background-image: url(/work/2024/propersky/img6.png);
    opacity: 0;
    z-index: 15;
}

.image7 {
    background-image: url(/work/2024/propersky/img7.png);
    opacity: 0;
    z-index: 16;
}

.image8 {
    background-image: url(/work/2024/propersky/img8.png);
    opacity: 0;
    z-index: 20;
}


// showCaseSection

.showCaseSection {
    padding: 144px 0;
    position: relative;

}

.showCaseHeading {
    overflow: hidden;
}

.showCaseSection h3 span {
    color: #257CA8;
}

.showCaseSection .showCaseImg {
    height: 100vh;
    position: sticky;
    top: 20px;
    text-align: center;
    font-size: 85px;
}

.Img1 {
    z-index: 7;
    background: url('/work/2024/propersky/properSkyimg2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 20px
}

.Img2 {
    z-index: 8;
    background: url('/work/2024/propersky/properSkyimg3.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 30px
}

.Img3 {
    z-index: 9;
    background: url('/work/2024/propersky/properSkyimg1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 40px
}

.Img4 {
    z-index: 10;
    background: url('/work/2024/propersky/properSkyimg4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50px
}

.Img5 {
    z-index: 11;
    background: url('/work/2024/propersky/properSkyimg5.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 60px;
}



// landingPageSection
.landingPageSection {
    margin: 50px 0;
    overflow-x: hidden;
}

.landingPageSection h3 span {
    color: #257CA8;
}

.landingPageSection .landingPage {
    background: linear-gradient(180deg, #257CA8 0%, #4C8BC3 100%);
    padding: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    position: relative;
    z-index: 10;
}




.landingPageSection .landingPage::after {
    position: absolute;
    content: "Landing";
    font-family: "Poppins";
    font-size: 200px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.landingPageSection .landingPage::before {
    position: absolute;
    content: "Page";
    font-family: "Poppins";
    font-size: 200px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: 1;
}


.circleSection {
    overflow: hidden;
}

.circleSection h3 span {
    color: #257CA8;
}

.circleSection p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    color: #919EAB;
    margin-bottom: 70px;
}

// circlePart

.circlePart {
    position: relative;
    height: 670px;
    margin-top: 60px;
    overflow: hidden;
    padding: 50px 0;
}

.circleSection .circleOne {
    position: absolute;
    background-color: #257CA8;
    border-radius: 50%;
    width: 497px;
    height: 497px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
    left: 0%;
    box-shadow: rgb(38, 57, 77) 0px 4px 5px 0px;
}

.circleSection .circleTwo {
    position: absolute;
    background-color: #4C8BC3;
    border-radius: 50%;
    width: 273px;
    height: 273px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 40%;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 400;
    color: #212529;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px 0px 0px;

}

.circleSection .circleThree {
    position: absolute;
    background-color: #1A1C30;
    border-radius: 50%;
    width: 337px;
    height: 337px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    left: 50%;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px 0px;
}

.circleSection .circleFour {
    position: absolute;
    background-color: #40CAC3;
    border-radius: 50%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px 0px;
}




@media screen and (max-width:1120px) {

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7,
    .image8 {
        top: 30px !important;
        width: 69%;
        height: 500px;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:992px) {
    .showCaseSection {
        padding: 60px 0;
    }

    .showCaseSection .showCaseImg {
        height: 80vh;
    }


    .circleSection .circleOne {
        width: 400px;
        height: 400px;
        font-size: 30px;
    }

    .circleSection .circleTwo {
        width: 200px;
        height: 200px;
        font-size: 18px;
        left: 44%;
    }

    .circleSection .circleThree {
        width: 250px;
        height: 250px;
        left: 50%;
        font-size: 18px;
    }

    .circleSection .circleFour {
        width: 220px;
        height: 220px;
        font-size: 18px;
    }

    .circlePart {
        height: 550px;
    }

    .landingPageSection .landingPage {
        padding: 100px 0px;
    }

    .landingPageSection .landingPage::after {
        font-size: 100px;
    }

    .landingPageSection .landingPage::before {
        font-size: 100px;
    }
}


@media screen and (max-width:770px) {
    .bannerHeadText {
        margin-top: 120px;
    }

    .mobileBannerImg {
        display: block;
        overflow: hidden;
        padding: 0 30px;
    }

    .mobileBannerImg img {
        width: 100%;
    }
    .bannerSecondText{
        margin-top: 30px;
        overflow: hidden;
    }

    .bannerSection {
        height: auto;
        margin-bottom: 0;
    }


    .bannerSection .bannerImg {
        display: none;
    }

    .showCaseSection .showCaseImg {
        height: 70vh;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7,
    .image8 {
        top: 14px !important;
        width: 69%;
        height: 340px;
        background-repeat: no-repeat;
    }

    .bannerImg {
        top: 100px;
        height: 400px;
    }

}

@media screen and (max-width:690px) {
    .showCaseSection .showCaseImg {
        height: 60vh;
    }

    .circleSection .circleOne {
        width: 300px;
        height: 300px;
        font-size: 20px;
    }

    .circleSection .circleTwo {
        width: 150px;
        height: 150px;
        font-size: 16px;
        left: 44%;
    }

    .circleSection .circleThree {
        width: 200px;
        height: 200px;
        left: 50%;
        font-size: 16px;
    }

    .circleSection .circleFour {
        width: 180px;
        height: 180px;
        font-size: 16px;
    }

    .circlePart {
        height: 460px;
    }

}

@media screen and (max-width:512px) {

    .showCaseSection .showCaseImg {
        height: 50vh;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7,
    .image8 {
        top: 14px !important;
        width: 69%;
        height: 246px;
        background-repeat: no-repeat;
    }

    .bannerImg {
        top: 54px;
        height: 290px;
    }

    .circleSection .circleOne {
        width: 200px;
        height: 200px;
        font-size: 14px;
    }

    .circleSection .circleTwo {
        width: 100px;
        height: 100px;
        font-size: 14px;
        left: 44%;
    }

    .circleSection .circleThree {
        width: 150px;
        height: 150px;
        left: 50%;
        font-size: 14px;
    }

    .circleSection .circleFour {
        width: 120px;
        height: 120px;
        font-size: 14px;
    }

    .circlePart {
        height: 360px;
    }

}

@media screen and (max-width:420px) {
    .showCaseSection .showCaseImg {
        height: 40vh;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7,
    .image8 {
        top: 14px !important;
        width: 69%;
        height: 152px;
        background-repeat: no-repeat;
    }

    .bannerImg {
        top: 30px;
        height: 194px;
    }

    .circleSection .circleOne {
        width: 160px;
        height: 160px;
        font-size: 14px;
    }

    .circleSection .circleTwo {
        width: 75px;
        height: 75px;
        font-size: 10px;
        left: 44%;
    }

    .circleSection .circleThree {
        width: 120px;
        height: 120px;
        left: 50%;
        font-size: 12px;
    }

    .circleSection .circleFour {
        width: 100px;
        height: 100px;
        font-size: 12px;
    }

    .circlePart {
        height: 300px;
        margin-top: 0;
    }

    .landingPageSection .landingPage::after {
        font-size: 50px;
    }

    .landingPageSection .landingPage::before {
        font-size: 50px;
    }

    .landingPageSection .landingPage {
        padding: 70px 0px;
    }

}


@media screen and (max-width:375px) {
    .showCaseSection .showCaseImg {
        height: 35vh;
    }
}