.mainheadingSpan {
    color: #28A5D8;
}

.scrollSection {
    height: 100vh;
}

.bannerLaptopImg {
    top: 25%;
    position: fixed;
}

.bannerPhoneImg {
    top: 34%;
    position: fixed;
    z-index: 1;
}
