


.bannerSection {
    padding: 80px 0 140px 0;
    margin-top: 100px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
    }

    .mobileBanner {
        display: none;
    }

    .phoneImg-mobileView {
        display: none;
    }

    .bannerImg img {
        height: 100% !important;
        width: 24% !important;
    }
    .phonebg{
        height: 620px;
        width: 22%;
    }

    .bannerImg {
        position: relative;
        margin: 64px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bgImg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        background-image: url(/work/2024/vaid/vaid-banner1.png);
    }

    .phoneImg {
        position: absolute !important;
        z-index: 120;
    }

    h3 {
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        text-align: left;
        color: #16085E;
    }

    h3 span {
        color: #4BD659;
    }

    p {
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        color: #212529;
        width: 68%;
        margin-left: auto;
    }


}

.phoneImg-mobileView {
    display: none;
}

// magic scroll

.horiScrollSection {
    .overflowHidden {
        overflow: hidden;
        height: 4000px;
    }

    .scrollMain {
        display: flex;
        width: 200% !important;
        flex-wrap: nowrap;
        height: 100vh !important;
    }

    .singleSection {
        width: 100%;
        overflow: hidden;
        height: 100vh !important;
        padding-bottom: 40px;
        margin-left: 10%;
        margin-top: 300px;
    }

    .horiImgContainer {
        display: flex;
        column-gap: 80px;
    }

    .imgContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px !important;
    }

    .imgContent p {
        text-align: center;
        margin-top: 25px;
        width: 100%;
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 500;
    }


}


.mainheading {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    color: #16085E;
    margin-bottom: 64px;
}

.mainheading span {
    color: #4BD659;
}


.vaidCardsSection {
    padding: 144px 0;

    .vaidcards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        width: 100%;
        height: 100%;

    }

    .cardbody {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 32px;
        border-radius: 16px;

    }

    .leftTextPart {
        align-items: start;
        display: flex;
    }

    .rightTextPart {
        align-items: end;
        display: flex;
    }

    .Imgcard {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 32px;
        border-radius: 16px;
    }


    h6 {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 500;
        color: #212529;
        line-height: 30px;
    }

    h6 span {
        color: #6E6E73EE;
    }
}


// technology section


.technology-section {
    width: 70%;
    margin: 150px auto auto auto;
}

.technology-section .technology-heading-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.technology-section .technology-row {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.technology-section .technology-row .technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technology .technology-text {
    align-self: center;
    margin-top: 24px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}




.sliderSection {
    padding: 80px 0;
    background-color: #F5F5F7;

    .imgPart img{
        width: auto !important;
    }

    .slider-item {
        display: flex;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 16px;
        background-color: #FFFFFF;
        min-height: 420px;
        max-height: 100%;
    }

    .imgPart {
        align-items: end;
        display: flex;
        height: 100%;
    }

    .slider-item {
        padding: 50px 40px 0px 40px;
    }

    h6 {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.002em;
        text-align: left;
        color: #919EAB;
    }

    h6 span {
        font-weight: 500;
        color: #212529;
    }
}
@media screen and (max-width:1800px) {
    .singleSection {
        margin-top: 100px !important;
    }
}

@media screen and (max-width:1600px) {
    .horiScrollSection {
        margin-top: 150px;
    }
    .overflowHidden {
        height: 3400px !important;
    }
    .singleSection {
        margin-top: 100px !important;
    }
}


@media screen and (max-width:1400px) {
    .horiScrollSection {
        margin-top: 150px;
    }

    .overflowHidden {
        height: 3400px !important;
    }

    .bannerSection p {
        margin-top: 80px;
    }

    .singleSection {
        margin-top: 50px !important;
        height: 100vh !important;
    }


    .bannerSection .content {
        padding: 0px !important;
    }

    .phoneImg-mobileView div:nth-child(4) {
        scale: 1.3;
        position: relative;
        z-index: 10;
    }

}


@media screen and (max-width:1200px) {
    .sliderSection {
        padding: 30px 0;
    }

    .vaidCardsSection .cardbody {
        padding: 20px !important;
    }

    .vaidCardsSection h6 {
        font-size: 16px !important;
    }

    .mobileBanner {
        display: block !important;
        padding: 50px 0;

        img {
            width: 100% !important;
            height: auto !important;
        }
    }

    .bannerSection p {
        margin-top: 20px;
        width: 100% !important;
        text-align: center !important;
    }

    .bgImg {
        display: none !important;
    }

    .horiScrollSection {
        display: none !important;
    }

    .phoneImg-mobileView {
        display: flex !important;
        gap: 15px;
    }

    .sliderSection {
        h6 {
            font-size: 16px;
            line-height: 24px;
        }

        .slider-item {
            padding: 25px 20px 0px 25px;
        }
    }
}

@media screen and (max-width:1025px) {
    .sliderSection h6 {
        margin: 14px 0;
        min-height: 144px;
    }

    .bannerSection {
        h3 {
            font-size: 44px;
        }

        p {
            font-size: 20px;
        }

        .mobileBanner {
            display: block !important;
            padding: 50px 0;

            img {
                width: 100% !important;
                height: auto !important;
            }
        }
    }

    .mainheading {
        font-size: 44px;
    }

    .vaidCardsSection {
        h6 {
            font-size: 16px;
            line-height: 26px;
        }
    }
}


@media screen and (max-width:991px) {
    .vaidCardsSection .vaidcards {
        flex-wrap: wrap;
    }


}

@media screen and (max-width:767px) {
    .vaidCardsSection .cardbody {
        max-width: 100%;
    }
}

@media screen and (max-width:520px) {
    .slider-item {
        padding: 16px 16px 0px 16px !important;
    }

    .vaidCardsSection {
        h6 {
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
}